<main>
  <mat-card class="">
    <mat-card-header>
      <mat-card-title>Nothing Works</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        1. Open task manager then go to the details tab<br>
        2. Find LeagueClient.exe then right click and click properties<br>
        3. Copy the location then go to config/clientPath.txt in the profile tool<br>
        4. Paste it there, save, and restart the tool.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Are there going to be anymore updates</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        No
      </p>
    </mat-card-content>
  </mat-card>
</main>
