<main>
  <mat-card class="">
    <mat-card-header>
      <mat-card-title>Nothing Works</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        1. Open task manager then go to the details tab<br>
        2. Find LeagueClient.exe then right click and click properties<br>
        3. Copy the location then go to config/clientPath.txt in the profile tool<br>
        4. Paste it there, save, and restart the tool.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Where did the ARAM boost go</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The old method got patched, there are other new methods out there. It will not be included in this program.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Are there going to be anymore updates</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Most likely not. If there are any updates they won't happen very frequently as I don't play the game anymore.
      </p>
    </mat-card-content>
  </mat-card>
</main>
