<mat-tab-group>
  <mat-tab label="Home"><app-home></app-home></mat-tab>
  <mat-tab label="Status"><app-status></app-status></mat-tab>
  <mat-tab label="Chibi Icons"><app-chibi></app-chibi></mat-tab>
  <mat-tab label="Background"><app-background></app-background></mat-tab>
  <mat-tab label="Chat Rank"><app-chatrank></app-chatrank></mat-tab>
  <mat-tab label="Champion Purchase Date"><app-champion-purchase-date></app-champion-purchase-date></mat-tab>
  <mat-tab label="Custom API Call"><app-customapi></app-customapi></mat-tab>
  <mat-tab label="F.A.Q"><app-faq></app-faq></mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
