<main>
  <button mat-stroked-button (click)="chibiIcon(29)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/29.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(50)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/50.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(51)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/51.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(52)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/52.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(53)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/53.png"
  /></button>

  <button mat-stroked-button (click)="chibiIcon(54)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/54.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(55)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/55.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(56)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/56.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(57)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/57.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(58)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/58.png"
  /></button>

  <button mat-stroked-button (click)="chibiIcon(59)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/59.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(60)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/60.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(61)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/61.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(62)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/62.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(63)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/63.png"
  /></button>

  <button mat-stroked-button (click)="chibiIcon(64)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/64.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(65)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/65.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(66)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/66.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(67)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/67.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(68)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/68.png"
  /></button>

  <button mat-stroked-button (click)="chibiIcon(69)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/69.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(70)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/70.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(71)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/71.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(72)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/72.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(73)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/73.png"
  /></button>

  <button mat-stroked-button (click)="chibiIcon(74)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/74.png"
    alt="74"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(75)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/75.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(76)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/76.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(77)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/77.png"
  /></button>
  <button mat-stroked-button (click)="chibiIcon(78)"><img
    class="sumIcon"
    src="assets/Summoner Icon Pictures/78.png"
  /></button>
</main>
