@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: Tenali Ramakrishna;
  src: url(../fonts/TenaliRamakrishna-Regular.ttf);
}
body {
  font-family: "Tenali Ramakrishna", sans-serif;
}
.sidebarcomp {
  text-align: center;
  margin-top: 2.4em;
  display: block;
  -webkit-app-region: no-drag;
}
.pane {
  background-image: url(../images/home.jpg);
  background-size: 1114px 660px;
  background-position: center;
}
.pane-sm {
  height: 100%;
  max-width: 250px;
  width: 250px;
  background-color: #1d1d29;
  -webkit-app-region: drag;
}
h3 {
  transition: border 500ms, color 500ms;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid white;
  border-width: thin;
  color: white;
  cursor: pointer;
  font-size: 23px;
}
.barMouseOver {
  transition: border 500ms, color 500ms;
  border-color: #f75881;
  color: #f75881;
}
#homeHead {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  font-size: 4em;
  text-shadow: 4px 4px #1d1d29;
  margin-top: -25px;
}
.contact {
  margin-top: 50%;
  text-align: center;
  font-size: 2.5em;
  width: auto;
  height: 40px;
  border: none;
  user-select: text;
  cursor: default;
}
.icon {
  color: white;
  font-size: 50px;
  margin-left: 3em;
  display: inline-block;
  cursor: pointer;
  transition: color 500ms;
}
.icon-video {
  margin-left: 6.11em;
}
.gitIconToggle {
  transition: color 500ms;
  color: #570f21;
}
.sumIcon {
  border: 1px solid white;
  margin-top: 1em;
  margin-left: 2.3em;
  cursor: pointer;
  transition: 0.5s;
}
.form-group {
  margin-top: 1em;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.form-control {
  padding: 0%;
  font-size: 20px;
  text-align: center;
}
.btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.ownedChamps {
  text-align: center;
}
.btn-large {
  padding: 0.5%;
  font-size: 20px;
  padding-bottom: 0%;
}
.imgButtonToggle {
  transition: 0.5s;
  transform: scale(1.2);
}
.championIcon {
  transition: 0.5s;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  margin-top: 25px;
  cursor: pointer;
}
.skinSplash {
  transition: 0.5s;
  width: 187px;
  height: 348px;
  margin-left: 10px;
  margin-top: 25px;
  cursor: pointer;
}
h1 {
  text-align: center;
  color: white;
}
h2 {
  color: white;
}
img {
  color: white;
}
.version {
  text-align: center;
  color: white;
  margin: 0;
}
.champions {
  text-align: center;
}
#selectch {
  margin-top: -15px;
}
.dragtop {
  height: 40px;
  background-color: transparent;
  -webkit-app-region: drag;
}
.queueDiv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.queue {
  transition: 0.5s;
  margin-left: 20px;
  cursor: pointer;
}
.queueButtonToggle {
  transition: 0.5s;
  transform: scale(1.2);
}
.rankMain {
  text-align: center;
}
.rankedEmblem {
  transition: 0.5s;
  cursor: pointer;
}
.clubPage {
  text-align: center;
}
.clubs {
  font-size: 1.5em;
  margin-top: 1em;
  cursor: pointer;
}
.bottomClubs{
  margin-top: 1em !important;
}
#setClub {
  padding: 0;
  font-size: 1.7em;
  width: 2em;
  margin-top: 10px;
  height: 30px;
  padding-bottom: 1px;
  cursor: pointer;
}
#sClub {
  margin-top: -15px;
  margin-bottom: 10px;
}
.clubT {
  color: white;
  font-size: 25px;
  margin-top: -25px;
}
.aramM {
  text-align: center;
}
#aramHead {
  margin-top: -15px;
  font-size: 30px;
  width: 125px;
}
.aramDes {
  color: white;
  font-size: 25px;
  margin-bottom: -20px;
}
#boost {
  padding: 0;
  font-size: 30px;
  height: 44px;
  width: 64px;
  margin-top: 13em;
  cursor: pointer;
}
.club:hover {
  background-color: #3d91ff;
  cursor: pointer;
}
#clubCode {
  margin-top: 0px;
  cursor: text;
}
.clubCodeFocus {
  margin-top: 0px !important;
}
.statusGroup {
  text-align: center;
}
.status {
  font-size: 25px;
  width: 678px;
  height: 557px;
  cursor: text;
}
#setStatus {
  padding: 0;
  font-size: 25px;
  height: 35px;
  width: 100px;
  margin-top: 0em;
  cursor: pointer;
}
.clubData {
  margin-top: 1em;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
#friendName {
  cursor: text;
  margin-top: 0px;
}
#lobbyMember {
  cursor: text;
}
#champSelect {
  cursor: text;
}
#getClubData {
  padding: 0;
  font-size: 1.7em;
  width: 7.1em;
  margin-top: 10px;
  height: 30px;
  padding-bottom: 1px;
  cursor: pointer;
}
#iconText {
  cursor: text;
}
#customIcon {
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 25px;
  margin-top: 30px;
}
.iconButtons {
  display: inline-block;
  cursor: pointer;
}
.iconB {
  text-align: center;
}
.faqBody {
  text-align: left;
  color: white;
  font-size: 30px;
  margin-left: 5px;
}
dl {
  margin: 0;
}
dt {
  text-decoration: underline;
}
dd{
  font-size: 25px;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: white;
}
.customContent{
  text-align: center;
}
#endPoint{
  cursor: text;
  font-size: 20px;
}
#method{
  font-size: 18px;
  cursor: pointer;
}
#requestBody{
  font-size: 32px;
  cursor: text;
}
#response{
  font-size: 32px;
  overflow:hidden;
}
#requestLCU{
  padding: 0;
  font-size: 1.5em;
  width: 5.5em;
  height: 30px;
  padding-bottom: 1px;
  cursor: pointer;
}
#lcuEndpoints{
  padding: 0;
  font-size: 1.5em;
  width: 6em;
  height: 30px;
  padding-bottom: 1px;
  cursor: pointer;
}
.lobbyInfo{
  color: white;
  margin: 0;
  font-size: 25px;
  line-height: 20px;
}
#topLobbyInfo{
  margin-top: 20px;
}
#postGame{
  cursor: text;
}