@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: Tenali Ramakrishna;
  src: url(../fonts/TenaliRamakrishna-Regular.ttf);
}
body {
  font-family: "Tenali Ramakrishna", sans-serif;
}
.sidebarcomp {
  text-align: center;
  margin-top: 5.5em;
  display: block;
  -webkit-app-region: no-drag;
}
.pane {
  background-image: url(../images/home.jpg);
  background-size: 1114px 660px;
  background-position: center;
}
.pane-sm {
  height: 100%;
  max-width: 250px;
  width: 250px;
  background-color: #1d1d29;
  -webkit-app-region: drag;
}
h3 {
  transition: border 500ms, color 500ms;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid white;
  border-width: thin;
  color: white;
  cursor: pointer;
}
.barMouseOver {
  transition: border 500ms, color 500ms;
  border-color: #f75881;
  color: #f75881;
}
#homeHead {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  font-size: 4em;
  text-shadow: 4px 4px #1d1d29;
}
.contact {
  margin-top: 50%;
  text-align: center;
  font-size: 2.5em;
  width: 260px;
  height: 40px;
  border: none;
  cursor: auto;
}
.icon {
  color: white;
  font-size: 50px;
  margin-left: 20%;
  margin-right: 20%;
  display: inline;
  cursor: pointer;
  transition: color 500ms;
}
.gitIconToggle {
  transition: color 500ms;
  color: #570f21;
}
.sumIcon {
  border: 1px solid white;
  margin-top: 1em;
  margin-left: 2.3em;
  cursor: pointer;
  transition: 0.5s;
}
.form-group {
  margin-top: 1em;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.form-control {
  padding: 0%;
  font-size: 20px;
  text-align: center;
}
.btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.btn-large {
  padding: 0.5%;
  font-size: 20px;
  padding-bottom: 0%;
}
.imgButtonToggle {
  transition: 0.5s;
  transform: scale(1.2);
}
.championIcon {
  transition: 0.5s;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  margin-top: 25px;
  cursor: pointer;
}
.skinSplash {
  transition: 0.5s;
  width: 187px;
  height: 348px;
  margin-left: 10px;
  margin-top: 25px;
  cursor: pointer;
}
h1 {
  text-align: center;
  color: white;
}
h2 {
  color: white;
}
img {
  color: white;
}
